<div class="product-page-scrollbar products elevate">
  <div class="elevate-bottom-buy-bar bottom-buy-bar bottom-buy-bar-once single">
    <div class="text-wrapper">
      <p class="buy-bar-title">
        <span class="plus-sign">+</span> beets <span class="buy-bar-capsules">30 Servings</span>
      </p>
      <div class="buy-bar-price elevate-buy-bar subscription active">
        <span class="buy-bar-price-number">$39.95</span><span class="buy-bar-price-dot">&#8226;</span>Subscribe & Save
      </div>
      <div class="buy-bar-price elevate-buy-bar once">
        <span class="buy-bar-price-number">$45.95</span><span class="buy-bar-price-dot">&#8226;</span>One-Time Purchase
      </div>
    </div>
    <button class="fresh-button elevate-buy-bar subscription active add-beets-sub">Add to Cart</button>
    <button class="fresh-button elevate-buy-bar once add-beets-once">Add to Cart</button>
  </div>

  <div class="elevate-bottom-buy-bar bottom-buy-bar bottom-buy-bar-sub bundle active">
    <div class="text-wrapper">
      <p class="buy-bar-title">beets <span class="plus-sign">+</span> nourish</p>
      <div class="buy-bar-price elevate-buy-bar subscription active">
        <span class="buy-bar-price-number">$74.94</span><span class="buy-bar-price-dot">&#8226;</span>Subscribe & Save
      </div>
      <div class="buy-bar-price elevate-buy-bar once">
        <span class="buy-bar-price-number">$90.94</span><span class="buy-bar-price-dot">&#8226;</span>One-Time Purchase
      </div>
    </div>
    <button class="fresh-button elevate-buy-bar subscription active add-beets-nourish-sub">Add to Cart</button>
    <button class="fresh-button elevate-buy-bar once add-beets-nourish-once">Add to Cart</button>
  </div>
</div>

<!--
  capsules
  <p class="buy-bar-title">
    elevate <span class="plus-sign">+</span> unwind <span class="buy-bar-capsules">120 Capsules</span>
  </p>
-->

<style>
  .elevate-bottom-buy-bar p.buy-bar-title, .elevate-bottom-buy-bar p.buy-bar-title span.plus-sign {
      font-size: 16px !important;
  }
  .elevate-bottom-buy-bar {
    display: none;
  }
  .elevate-bottom-buy-bar.active {
    display: block;
  }
  .elevate-buy-bar {
    display: none;
  }
  .elevate-buy-bar.active {
    display: block;
  }
</style>

<script></script>
