<div class="product-page-scrollbar products elevate">
  <div class="elevate-bottom-buy-bar bottom-buy-bar bottom-buy-bar-once single">
    <div class="text-wrapper">
      <p class="buy-bar-title">beets<span class="plus-sign">+</span></p>
    </div>
    <button class="fresh-button add-to-cart bottom-buy-bar elevate-buy-bar subscription active add-beets-sub" data-handle="beets" data-subscriptionprice="39.95" data-subscriptionid="7504599318718">Add to Cart</button>
    <button class="fresh-button add-to-cart bottom-buy-bar elevate-buy-bar once add-beets-once" data-handle="beets">Add to Cart</button>
  </div>

  <div class="elevate-bottom-buy-bar bottom-buy-bar bottom-buy-bar-sub bundle active">
    <div class="text-wrapper">
      <p class="buy-bar-title">beets <span class="plus-sign">+</span> ageless</p>
    </div>
    <button class="fresh-button add-to-cart bottom-buy-bar elevate-buy-bar subscription active add-beets-ageless-sub" data-handle="beets-ageless" data-subscriptionprice="85.90" data-subscriptionid="7519180390590">Add to Cart</button>
    <button class="fresh-button add-to-cart bottom-buy-bar elevate-buy-bar once add-beets-ageless-once" data-handle="beets-ageless">Add to Cart</button>
  </div>
</div>

<!--
  capsules
  <p class="buy-bar-title">
    elevate <span class="plus-sign">+</span> unwind <span class="buy-bar-capsules">120 Capsules</span>
  </p>
-->

<style>
  .elevate-bottom-buy-bar p.buy-bar-title, .elevate-bottom-buy-bar p.buy-bar-title span.plus-sign {
      font-size: 16px !important;
  }
  .elevate-bottom-buy-bar {
    display: none;
  }
  .elevate-bottom-buy-bar.active {
    display: block;
  }
  .elevate-buy-bar {
    display: none;
  }
  .elevate-buy-bar.active {
    display: block;
  }
</style>

<script></script>
