<style>
  .multipack-selector {
      display: none;
      cursor: pointer;
      width: calc(33% - 10px);
      margin-right: 7px;
  }
  .selector-button.selected .multipack-selector {
    display: inline-block;
  }
  .multipack-selector .inner {
      font-size: 12px;
      border: 1px solid var(--color-blue);
      border-radius: 30px;
      margin-right: 7px;
      text-align: center;
      padding: 0px 10px;
  }

  .multipack-selector span {
      display: block;
      text-align: center;
      font-size: 10px;
      margin: 4px 10px 10px 0;
  }

  .multipack-selector.selected span {
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 4px;
  }

  .multipack-selector.selected .inner {
      background: var(--color-blue);
      color: #ffffff;
      border-color: var(--color-blue);
  }
    .serving-text,
  .buy-price {
      display: none;
  }

  .serving-text.active,
  .buy-price.active {
      display: inline-block;
  }
</style>
<div class="nourish" style="max-width: 400px;">
  <button  class="fresh-button add-to-cart button-orange" style="width: 100%;">SOLD OUT</button>  
  {% comment %}
  <!-- sub add to cart -->

  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-sub1 buy-sub one-pack active"
    data-handle="nourish"
    data-subscriptionprice="44.99"
    data-subscriptionid="7504599253182"
  >
    Add to Cart | $44.99
  </button>
  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-sub2 buy-sub two-pack"
    data-handle="nourish-2-pack"
    data-subscriptionprice="75.90"
    data-subscriptionid="7505173708990"
  >
    Add to Cart | $75.90
  </button>
  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-sub3 buy-sub three-pack"
    data-handle="nourish-3-pack"
    data-subscriptionprice="99.90"
    data-subscriptionid="7505173577918"
  >
    Add to Cart | $99.90
  </button>

  <!-- once add to cart -->

  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-once1 buy-once one-pack "
    data-handle="nourish"
  >
    Add to Cart | $55.99
  </button>
  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-once2 buy-once two-pack"
    data-handle="nourish-2-pack"
  >
    Add to Cart | $95.99
  </button>
  <button
    class="fresh-button add-to-cart with-arrow button-orange purchase-button buy-button add-nourish-once3 buy-once three-pack"
    data-handle="nourish-3-pack"
  >
    Add to Cart | $129.99
  </button>

  <!-- sub or once -->
  <div class="selector-button-wrapper m-b-0 m-t-20">
    <div class="selector-button selector-button-sub selected">
      <div class="selector-button-inner">
        <div class="selector-button-dot"><div class="selector-button-dot-inner"></div></div>
        <p class="option-price-header active">Subscribe & Save</p>
        <div class="selector-button-inner-showhide">
          <ul class="subscription-details">
            <div class="multipack-selector subscribe one-pack selected">
              <div class="inner">1-Pack</div>
              <span>Save $11</span>
            </div>
            <div class="multipack-selector subscribe two-pack">
              <div class="inner">2-Pack</div>
              <span>Save $36</span>
            </div>
            <div class="multipack-selector subscribe three-pack">
              <div class="inner">3-Pack</div>
              <span>Save $68</span>
            </div>
            <li><span>✓</span> Free Shipping on Your First Order</li>
            <li><span>✓</span> Delivery Every 30 Days, Cancel Anytime</li>
            <li><span>✓</span> Love It or Your Money Back</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="selector-button selector-button-once">
      <div class="selector-button-inner">
        <div class="selector-button-dot"><div class="selector-button-dot-inner"></div></div>
        <p class="option-price-header option-price-header-once option-price-header-once-1 active">One-Time Purchase</p>
        <div class="multipack-selector one-time one-pack selected">
          <div class="inner">1-Pack</div>
          <span>Save $0</span>
        </div>
        <div class="multipack-selector one-time two-pack">
          <div class="inner">2-Pack</div>
          <span>Save $16</span>
        </div>
        <div class="multipack-selector one-time three-pack">
          <div class="inner">3-Pack</div>
          <span>Save $38</span>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
