<style>
  .product-ingredients {
    padding-bottom: 30px !important;
  }
  .product-ingredients-nourish .slick-slider {
    margin-bottom: 30px;
  }
  .product-ingredients-nourish .slick-next,
  .product-ingredients-nourish .slick-prev {
      border-style: solid;
      border-color: var(--color-blue);
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      transform: rotate(45deg);
      width: 20px;
      z-index: 5;
  }
  .product-ingredients-nourish .slick-prev,
  .product-ingredients-nourish .slick-prev:hover,
  .product-ingredients-nourish .slick-prev:focus {
      left: 14px;
      border-width: 0 0 4px 4px;
  }
  .product-ingredients-nourish .slick-next,
  .product-ingredients-nourish .slick-next:hover,
  .product-ingredients-nourish .slick-next:focus {
    border-width: 4px 4px 0 0;
    right: 14px;
  }
  .product-ingredients-nourish .slick-next:before,
  .product-ingredients-nourish .slick-prev:before {
      content: none;
  }
  .product-ingredients-nourish .carousel-cell-ingredients.slick-current {
    position: relative;
  }
  .product-ingredients-nourish .carousel-cell-ingredients.slick-current .text-c h3 {
    color: #fff !important;
  }
  .product-ingredients-nourish .carousel-cell-ingredients.slick-current .ingredients-description {
    opacity: 1 !important;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    width: 130%;
  }
  @media (min-width: 540px) {
    .product-ingredients-nourish .carousel-cell-ingredients.slick-current .ingredients-description {
            /*       width: 80vw; */
      max-width: 500px;
    }
  }
</style>

<div id="product-ingredients" class="product-ingredients product-ingredients-nourish">
  <div class="fresh-container-fluid">
    <div class="fresh-row">
      <div class="fresh-col xs-12 sm-10 sm-offset-1">
        <h2 class="text-center"><span>+</span> nourish ingredients</h2>
      </div>
    </div>
  </div>

  <div class="carousel-ingredients carousel-ingredients-nourish">
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-plantproteins.jpg?v=1671167951"
          alt="nourish ingredient Plant-Based Proteins"
        >
        <h3>Plant-Based Proteins</h3>
        <div class="ingredients-description">
          Protein is a vital nutrient responsible for the growth, maintenance and repair of our bodies. So, we must
          ensure we eat enough high-quality protein every day to keep our bodies healthy. Plant protein is a meaningful
          food source of protein, and the combination of different plant proteins provides you with all 9 essential
          amino acids. Plant-based sources of protein are a win for your health and the health of the planet.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-adaptogens.jpg?v=1671167951"
          alt="nourish ingredient Adaptogens"
        >
        <h3>Adaptogens</h3>
        <div class="ingredients-description">
          Adaptogens are components of herbal medicines that are said to help the body's resilience in dealing with
          physical and emotional stresses. By strengthening our internal systems, adaptogens can support vitality,
          stabalize mood and improve performance and focus. Adaptogens intereact with ther HPA exis, which is a complex
          system of glands, hormones and receptors in the human body. The HPA axis is central to the body's homeostatis,
          stress responses and energy metabolism.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-probiotics.jpg?v=1671167951"
          alt="nourish ingredient Probiotics"
        >
        <h3>Probiotics</h3>
        <div class="ingredients-description">
          Probiotics are live bacteria and yeasts that are good for you, especially your digestive system. Bacteria is
          usually viewed in a negative light as something that makes you sick. However, you have two kinds of bacteria
          constantly in and on your body — good bacteria and bad bacteria. Probiotics are made up of good bacteria that
          help keep your body healthy and working well.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-micronutrients.jpg?v=1671167951"
          alt="nourish ingredient Micronutrients"
        >
        <h3>Micronutrients</h3>
        <div class="ingredients-description">
          Micronutrients are vital to our overall wellbeing. They are necessary for energy, immune and vascular
          functions. Most micronutrients are not produced in the body; so, we need to get them from our diet.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-omega3.jpg?v=1671167951"
          alt="nourish ingredient omega 3s"
        >
        <h3>Omega 3's</h3>
        <div class="ingredients-description">
          Omega-3 fatty acids are unsaturated fats that benefit the cardiovascular system. Although they are an
          essential fat, which means they are needed to survive, the body cannot make them on its own. Why are Omega-3's
          so important? They are an integral part of cell membranes throughout the body and affect the function of the
          cell receptors in these membranes.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-superfruit.jpg?v=1671167952"
          alt="nourish ingredient Superfruits"
        >
        <h3>Superfruits</h3>
        <div class="ingredients-description">
          Superfruits are traditional fruits that are high in phytonutrients and antioxidants. Phytonutrients are
          substances found only in certain plants, and antioxidants are supposed to rid our bodies of potentially
          harmful oxidized agents which can damage cells. While our bodies do naturally produce antioxidants, consuming
          a combination of super fruits is a great way to support optimal antioxidant levels.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-supergreens.jpg?v=1671167951"
          alt="nourish ingredient Supergreens"
        >
        <h3>Supergreens</h3>
        <div class="ingredients-description">
          Supergreens are a unique variety of superfood comprising a selection of vegetables, grains, grasses and algae.
          They are naturally rich in fiber, vitamins, minerals, phytonutrients and antioxidants and tend to boast both a
          striking green colour and a commanding flavor.*
        </div>
      </div>
    </div>
    <div class="carousel-cell-ingredients">
      <div class="inner-col text-c">
        <img
          class="img-responsive"
          src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/nourish-ingredients-fiber.jpg?v=1671167951"
          alt="nourish ingredient fiber"
        >
        <h3>Fiber</h3>
        <div class="ingredients-description">
          Fiber is a type of carbohydrate that the body can't digest. Though most carbohydrates are broken down into
          sugar molecules, fiber cannot be broken down into sugar molecules, and instead it passes through the body
          undigested. Fiber helps regulate the body's use of sugars, helping to keep hunger and blood sugar in check. It
          is considered less "energy dense," which means it has fewer calories for the same volume of food.*
        </div>
      </div>
    </div>
  </div>

  {% if page.handle contains 'ingredients-benefits' %}
    <div class="fresh-container">
      <div class="fresh-row">
        <div class="fresh-col xs-12 sm-10 sm-offset-1 md-6 md-offset-3 text-c">
          <img
            class="img-responsive label-img"
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-nourish-supplementfacts.png?v=1677678320"
            alt="nourish ingredients supplement facts"
          >
        </div>
      </div>
    </div>
  {% endif %}
</div>

<script>
  $0('.carousel-ingredients-nourish').slick({
    arrows:true,
    centerMode: true,
    centerPadding: '120px',
    slidesToShow: 3,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          centerMode: true,
          centerPadding: '140px',
          slidesToShow: 1
        }
      },
      {
        breakpoint: 540,
        settings: {
          centerMode: true,
          centerPadding: '80px',
          slidesToShow: 1
        }
      }
    ]
  });
</script>

{% schema %}
{
	"name": "Ingredients - Nourish",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Header"
		}
	],
	"blocks": [
		{
			"type": "select",
			"name": "Ingredient",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Description"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Ingredients - Nourish",
			"category": "Freshwater"
		}
	]
}
{% endschema %}
