<div class="listicle-section">
  <div class="fresh-container">
    <div class="fresh-col xs-12 sm-10 sm-offset-1">
      <div class="fresh-row align-items-center">
        <div class="fresh-col xs-12 sm-5 img-col">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate4.jpg?v=1661963514" alt="try avantera elevate">
        </div>
        <div class="fresh-col xs-12 sm-7 text-col">
          <span class="reason-number">1</span>
          <h2>A Healthy Solution To Sluggish, Unmotivated, And Foggy Days</h2>
          <p>
            We all have those days, or even weeks, of feeling sluggish, unmotivated, and ultimately choosing to
            procrastinate on every task. While many lean towards stimulants (coffee, soda, or energy drinks) to get them
            out of this slump, we felt it was time to formulate a better solution - one that utilizes the powers of
            nootropics to clear the fog, and set us up for success in the day ahead.
          </p>
        </div>
      </div>
      <div class="fresh-row align-items-center grey-bkg">
        <div class="fresh-col xs-12 sm-5 img-col hide-desktop">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate3.jpg?v=1661963514" alt="try avantera elevate">
        </div>
        <div class="fresh-col xs-12 sm-7 text-col">
          <span class="reason-number">2</span>
          <h2>Contains 6 Of The Best Clinically Studied Nootropics To Help You Stay Focused</h2>
          <p>
            Many of us have heard of nootropics before, but what exactly are they? In short, Nootropics are brain
            enhancers found in herbs, roots, and plants that can help support cognitive function and overall well-being.
            Elevate contains 6 clinically studied nootropics hand chosen by nutritionists that help support energy,
            focus, memory, and healthy stress levels in a sustainable way.
          </p>
        </div>
        <div class="fresh-col xs-12 sm-5 img-col hide-mobile">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate3.jpg?v=1661963514" alt="try avantera elevate">
        </div>
      </div>
      <div class="fresh-row align-items-center">
        <div class="fresh-col xs-12 sm-5 img-col">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate2.jpg?v=1661963514" alt="try avantera elevate">
        </div>
        <div class="fresh-col xs-12 sm-7 text-col">
          <span class="reason-number">3</span>
          <h2>Improve Your Focus Without the Side Effects</h2>
          <p>
            One of the best things about Elevate is that it’s made of clinically studied ingredients and doesn’t have
            the side effects normally associated with stimulants. No heart-racing, anxious feelings or come downs. With
            the help of experts, Elevate was formulated to help you achieve increased motivation, and consistent focus
            without the crash.
          </p>
        </div>
      </div>
      <div class="fresh-row align-items-center grey-bkg">
        <div class="fresh-col xs-12 sm-5 img-col hide-desktop">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate1.jpg?v=1661963514" alt="try avantera elevate">
        </div>
        <div class="fresh-col xs-12 sm-7 text-col">
          <span class="reason-number">4</span>
          <h2>Cognitive Function And Healthier Stress Levels Start With The Gut</h2>
          <p>
            Taking care of your gut is crucial for cognitive function and healthy stress levels. That’s why we included
            ingredients like Tumeric and Lion’s Mane which are shown to support your gut biome and overall brain health.
            So the next time you hear phrases like “go with your gut” or “butterflies in your stomach” just remember -
            when properly taken care of, your gut and brain can make a pretty good team!
          </p>
        </div>
        <div class="fresh-col xs-12 sm-5 img-col hide-mobile">
          <img src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-try-elevate1.jpg?v=1661963514" alt="try avantera elevate">
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .listicle-section {
      padding: 30px 0;
  }

  .listicle-section .fresh-row {
      margin-bottom: 70px;
      padding: 30px 0;
  }

  .listicle-section .grey-bkg {
      background: #FBFBFB;
  }

  .listicle-section .img-col {
      text-align: center;
      margin-bottom: 30px;
  }

  .listicle-section .text-col {
      padding: 0 5%;
      position: relative;
  }

  .listicle-section h2 {
      font-size: 28px;
      line-height: 125%;
      margin: 0 0 10px;
      color: var(--color-blue);
  }

  .listicle-section p {
      font-size: 18px;
  }

  .listicle-section span.reason-number {
      display: inline-block;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      height: 30px;
      width: 30px;
      background-color: var(--color-orange);
      border: 2px solid var(--color-blue);
      color: #ffffff;
      border-radius: 50px;
      margin-bottom: 10px;
  }

  /********/
  /*MOBILE*/
  @media (max-width: 768px) {
      .listicle-section .fresh-row {
          margin-bottom: 40px;
      }

      .listicle-section .img-col {
          order: 1;
      }

      .listicle-section .text-col {
          order: 2;
      }

      .listicle-section h2 {
          font-size: 28px;
      }

      .listicle-section p {
          font-size: 18px;
      }
  }
</style>

{% schema %}
{
"name": "Listicle - Section",
"settings": [
],
"presets": [
{
"name": "Listicle - Section",
"category": "Homepage"
}
]
}
{% endschema %}
