<div id="shop-page-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 img-col">
        <div class="main-carousel fresh-product-carousel">
          <img
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-nootropics-unwind-1.jpg?v=1662863307"
            alt="avantera unwind adaptogen nootropics"
            loading="lazy"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-nootropics-unwind-2.jpg?v=1662863307"
            alt="avantera unwind adaptogen nootropics"
            loading="lazy"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-nootropics-unwind-3.jpg?v=1662863307"
            alt="avantera unwind adaptogen nootropics"
            loading="lazy"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-nootropics-unwind-4.jpg?v=1662863307"
            alt="avantera unwind adaptogen nootropics"
            loading="lazy"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0405/9870/0189/files/avantera-unwind-supplement-facts_cb7043d9-59e7-40e2-8df9-d43dc1c127c8.jpg?v=1664211863"
            alt="avantera unwind adaptogen nootropics"
            loading="lazy"
          >
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 text-col">
        <h1><span>+</span> unwind <span class="product-subtitle">Premium Adaptogen</span></h1>

        <a class="smooth-scroll loox-reviews" href="#looxReviews">
          <div
            class="loox-rating"
            data-fetch
            data-id="5805126615197"
            data-pattern="([rating]/5, [count] Reviews)"
          ></div>
        </a>

        <!--
          <a class="smooth-scroll product-rating" href="#looxReviews">
              <svg enable-background="new 0 0 152 26.2" viewBox="0 0 152 26.2" xmlns="http://www.w3.org/2000/svg" class="five-stars"><g transform="translate(-817.421 -1254.42)"><path d="m862.3 1254.4-4.3 8.6-9.5 1.4 6.9 6.7-1.6 9.5 8.5-4.5 8.5 4.5-1.6-9.5 6.9-6.7-9.5-1.4z"></path><path d="m893.4 1254.4-4.3 8.6-9.5 1.4 6.9 6.7-1.6 9.5 8.5-4.5 8.5 4.5-1.6-9.5 6.9-6.7-9.5-1.4z"></path><path d="m924.5 1254.4-4.3 8.6-9.5 1.4 6.9 6.7-1.6 9.5 8.5-4.5 8.5 4.5-1.6-9.5 6.9-6.7-9.5-1.4z"></path><path d="m955.7 1254.4-4.3 8.6-9.5 1.4 6.9 6.7-1.6 9.5 8.5-4.5 8.5 4.5-1.6-9.5 6.9-6.7-9.5-1.4z"></path><path d="m831.2 1254.4-4.3 8.6-9.5 1.4 6.9 6.7-1.6 9.5 8.5-4.5 8.5 4.5-1.6-9.5 6.9-6.7-9.5-1.4z"></path></g></svg>
              <span>(4.8/5, 100+ Reviews)</span>
          </a>
        -->

        <div class="description">
          <p class="top-line-description">60 Capsules | 1 Month Supply | $1.33 per serving</p>
          <ul>
            <li><span>✓</span> Helps support healthy stress levels, immune system, and sleep efficiency*</li>
            <li><span>✓</span> 8 clinically studied ingredients</li>
            <li><span>✓</span> 3rd party tested</li>
          </ul>
          <p class="description-quote">
            “I love this. I sleep peacefully and feel better waking up, and don't need coffee in the morning.”
            <br>
            ★★★★★ - Campbell M.
          </p>
        </div>

        {% include '0-shop-form-unwind-obvi' %}
        {% render '0-shop-form-upsell' %}
        {% comment %}
        <div class="show-original">
          {% include '0-shop-form-unwind-orig' %}
          {% include '0-shop-form-upsell' %}
        </div>
        <div class="hide-original">
          {% include '0-shop-form-unwindbundle' %}
        </div>
        {% endcomment %}
        {% include '0-pdptop-icons' %}
      </div>
    </div>
  </div>
</div>

<style>
  .show-original {
    display: block;
  }
  .hide-original {
    display: none;
  }
</style>
