<div style="display: block;">
  {% section '0-home-hero-4' %}
  {% section '0-home-featuredproducts' %}
  {% section '0-home-logos' %}
  {% section '0-home-about-reviews' %}
  {% section '0-home-pullquote1' %}
  {% section '0-home-ingredienticons' %}
  {% section '0-home-featuredcategories' %}
  {% section '0-home-testimonials-new' %}
  {% comment %}
    {% section '0-home-mission' %}
    {% section '0-home-ugc' %}
    {% section '0-home-imgtextstacked2' %}
  {% endcomment %}
</div>
